.backgd {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -900;
    opacity: 0.9;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(51, 51, 50);
  }
  
  .active {
    background-color: #051950;
  }
  h1{font-family: 'IM Fell English', serif;
  color: rgb(255, 255, 255);
font-size: 45px;
text-decoration: underline;
text-align: center;}
/* #menu{
  background-image: url(./media/menu.png);
  width: 530px;
  height: 750px;
  border-radius: 10%;
 
  padding-top: 1%;
} */
#menu p{
  line-height: 180%;
  margin-top: -5%;
  margin-left: 6%;
 
  
 
}

#menu h2 {
  font-size: 300%;
  font-family: 'IM Fell English', serif;
  color: gold;
  margin-top: -60%;
  margin-left: 6%;
  
}
a {
  color: rgb(255, 255, 255);
}
  p{color: rgb(173, 173, 173);
    font-size: 140%;
    
  }
  #forms h4 {
    font-size: 200%;
    text-align: center;
    color: rgb(245, 223, 136);
  }
 
  #forms { color: rgb(253, 221, 92);
    margin-left:30%;
    padding: 4%;
    width: 30%;
    margin-top: 4%;
    font-size: 150%;
    
  }
    #forms input { width: 120%;
      border-radius: 10%;
      
    }
  .orderevent{
    text-align: center;
  }
 .manot{
   width: 100%;
   height: 100%;
   display: flex;
  flex-wrap: wrap;
  margin-top: 10%;

 }
 .manot img{width: 33%;
height: 300px;
}
#menu{margin-left: 30%;}
.copyRight{color: cornsilk;}
@media only screen and (max-width: 426px) {
  .backgd{
    width: 100%;
    height: 100%;
  }
  #menu img{
    width: 100%;
    margin-left: -20%;
  }
  #menu h2{
    font-size: 30px;
    margin-top: -100%;
    
  }
  #menu p{
    font-size: 12px;
    margin-top: 2%;
    margin-left: 5px;
  }
  

}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .backgd{
    width: 100%;
    height: 100%;
  }
  #menu img{
    width: 50%;
    margin-left: 10%;
  }
    #menu h2{
      margin-top: -50%;
      font-size: 30px;
      margin-left: 15%;
    }  
  #menu p {
    font-size: 60%;
    width: 50%; 
    /* line-height: 20%; */
    margin-top: 5%;
    margin-left: 15%;
  }
  
}
/* #forms input{
  width: 140px;
} */
